:root{
    --primatyGreen: hsl(75, 94%, 57%);
    --neutralWhite: hsl(0, 0%, 100%);
    --neutralGrey: hsl(0, 0%, 20%);
    --neutralDarkGrey: hsl(0, 0%, 12%);
    --neutralOffBlack: hsl(0, 0%, 8%);
}